:root {
    --color-light: #6fa8dc;
    --color-mid-light: #3d85c6;
    --color-mid: #0b5394;
    --color-dark: #073763;
    --color-very-dark: #031424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 60px; /* collapsed width */
    background-color: var(--color-mid);
    color: white;
    transition: width 0.3s;
    overflow: hidden;
}

.sidebar.expanded {
    width: 200px; /* expanded width */
}

.sidebar ul {
    list-style: none;
    padding: 20px 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background 0.2s;
}

.sidebar ul li a:hover {
    background-color: var(--color-mid-light);
}

.sidebar ul li a i {
    min-width: 45px;
    text-align: center;
    font-size: 28px;
}


.sidebar ul li a span {
    margin-left: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar.expanded ul li a span {
    opacity: 1;
}

/* Main content */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-very-dark);
    color: white;
}

/* Top header */
.top-header {
    height: 50px;
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 1.1rem;
}

/* Content area */
#content {
    padding: 20px;
    flex: 1;
}

.tab-content-hidden {
    display: none;
}

.device-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.device-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.device-card {
    background: rgba(26, 26, 26, 0.85);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #333;
    transition: all 0.3s;
    text-align: center;
}

.device-card:hover {
    border-color: #0b5394;
    box-shadow: 0 0 20px rgba(11, 83, 148, 0.3);
    transform: translateY(-5px);
}

.device-card h3 {
    color: #0b5394;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.device-card img {
    border-radius: 50%;
}

.device-card p {
    color: #b3b3b3;
}

.tabPage {
    width: 100%;
    height: 100%;
}
