<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleDash.css') }}">
    <link rel="script" href="{{ url_for('static', filename='js/sidebar.js') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar" id="sidebar">
            <img src="{{ url_for('static', filename='img/teapot6.png') }}" width="45px" style="margin : 10px">
            <ul>
                <li><a href="#"><i class="fas fa-home"></i><span>Dashboard</span></a></li>
                <li><a href="#"><i class="fas fa-chart-line"></i><span>Analytics</span></a></li>
                <li><a href="#"><i class="fa-solid fa-crosshairs"></i><span>Threats</span></a></li>
                <li><a href="#"><i class="fa-solid fa-microchip"></i><span>Devices</span></a></li>
                <li><a href="#"><i class="fa-solid fa-server"></i><span>Servers</span></a></li>
                <li><a href="#"><i class="fa-solid fa-map-location"></i><span>Live Map</span></a></li>
            </ul>
        </aside>

        <div class="main">
            <header class="top-header">
                <h1>{{ session["username"] }}'s Dashboard</h1>
            </header>

            <div class="content">
                <section class="map_dash">
                    {{ map|safe }}
                </section>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
</body>
</html>
