<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login">
    <header>
        <nav>
            <div class="logo"> <img src="{{ url_for('static', filename='img/teapot4.png') }}" width="70px"> </div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
                {% if session["user"] %}
                    <li><a href="{{ url_for('logout')}}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login')}}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="loginContainer">
        {% if error == True %}
        <p>User or password not valid</p>
        {% endif %}
        <form class="loginContainer" method="POST">
            <h2>Connection</h2>
            <input class="cta-input" type="email" name="mail" placeholder="Email" required><br>
            <input class="cta-input" type="password" name="pass" placeholder="Password" required><br>
            <button class="cta-button loginBtn" type="submit">Log In</button>
        </form>
        <div id="registerFooter">
            <p>No account?</p>
            <a href="{{ url_for('register')}}">Sign up</a>
        </div>
    </div>
</body>
</html>
